<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
    <body>
        <header>
            <h1><a href="/">SO-NUTS</a></h1>
        </header>
        <main>
            <form method="post" enctype="application/x-www-form-urlencoded" action="/result">
                <% data.forEach(function(intakeData) { %>
                    <% if (intakeData.type == null) { %>
                        <fieldset id="<%- intakeData.id %>" class="fieldset">
                            <label for="<%- intakeData.id %>"><%- intakeData.text %> </label><br>
                            <input type="text" id="<%- intakeData.id %>" name="inputvalue" required><br>
                        </fieldset>
                    <% } else if (intakeData.type == "multiChoice") { %>
                        <fieldset id="<%- intakeData.id %>" class="fieldset">
                            <label for="<%- intakeData.id %>"><%- intakeData.text %> </label><br>
                            <div>
                                <% for( let i = 0; i < intakeData.answerOptions.length; i++ ) { %>
                                    <input type="radio" id="<%- intakeData.answerOptions[i].id %>" name="inputvalue" value="<%- intakeData.answerOptions[i].text %>">
                                    <label for="<%- intakeData.answerOptions[i].id %>"><%- intakeData.answerOptions[i].text %></label><br>
                                <% } %>
                            </div>
                        </fieldset>
                    <% } else if (intakeData.type == "multiOpenChoice") { %>
                        <fieldset id="<%- intakeData.id %>" class="fieldset">
                            <label for="<%- intakeData.id %>"><%- intakeData.text %> </label><br>
                            <div>
                                <% for( let i = 0; i < intakeData.answerOptions.length; i++ ) { %>
                                    <input type="checkbox" id="<%- intakeData.answerOptions[i].id %>" name="inputvalue" value="<%- intakeData.answerOptions[i].text %>">
                                    <label for="<%- intakeData.answerOptions[i].id %>"><%- intakeData.answerOptions[i].text %></label><br>
                                <% } %>
                            </div>
                        </fieldset>
                    <% } %>                    
                <% }) %>
                <fieldset class="fieldset voeding">
                    <label>Hoe vaak per week eet u, gemiddeld gezien, fruit? </label><br>
                    <input type="text" id="voeding" name="inputvalue" required><br>
                </fieldset>
                <fieldset class="fieldset beweging">
                    <label for="beweging">Hoeveel dagen per week sport u?</label><br>
                    <input type="text" id="beweging" name="inputvalue" required><br>
                </fieldset>
                <input type="submit" value="Versturen" />
                <button type="button" id="next">Volgende</button>
                <button type="button" id="prev">Vorige</button>
            </form>
            <div class="validate">
                <p>Je hebt nog niet alle vragen ingevuld!</p>
            </div>
        </main>
    </body>
</html> 